.container{
  padding : 25px;
  width : 100%;
}

.category-list{
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.category-content{
  padding: 7px;
border: 2px solid #000;
border-radius: 5px;
}

.row{
  margin-top: 10px;
}

.category{
  display: flex;
  font-size : 1.2em
}
.input-control{
  margin-right: 3px;
}

.product-list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 12px;
}

.product{
 margin: 10px;
}

.pagination{
  display: flex;
  flex-direction: row;
  justify-content:center;
  flex-wrap: wrap;
  font-size:35px
}

.paging{
  display: flex;
  flex-direction: row;
  justify-content:center;
  flex-wrap: wrap;
}

.paging__arrow{
  border: 2px solid gray;
  border-radius : 5px;
  padding:4px 8px;
  cursor: pointer;
}

.paging__number{
  border: 2px solid gray;
  border-radius : 5px;
  margin: 0px 5px;
  padding: 4px 8px ;
  cursor: pointer;
}

.active{
  color: #fff;
  background-color:#000
}
